.main__frame{
    display: flex;
    background: #EBF2F7;   
}

.mainContent{
    flex: 0.71;
    background: #EBF2F7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25px;
}

